body{

   background-color: #ffffff;
   background-color: #B85042;
   color: #000000;

   font-variant-numeric: oldstyle-nums;
   hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;

   hyphenate-limit-lines: 2;
   -webkit-hyphenate-limit-line: 2;

   hyphenate-limit-chars: 7 3 3;
   -webkit-hyphenate-limit-before: 3;
   -webkit-hyphenate-limit-after: 3;
}

a:link {
  color: rgb(11, 32, 217);
}

/* visited link */
a:visited {
  color: rgb(0, 0, 0);
}

/* mouse over link */
a:hover {
  color: rgb(0, 0, 0);
}

/* selected link */
a:active {
  color: rgb(0, 0, 0);
}

.container{
   margin: 40px auto 40px auto;
   max-width: 680px;
   min-width: 375px;
   padding: 0 25px 0 25px;
}

img{
  max-width: 100%;
  max-height: 100%;
  padding-top: 2em;
}

h1{
   font-family: ff-real-headline-pro, sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 40px;
   margin-bottom: 50px;
   padding-top: 40px
}


h2{
   font-family: ff-real-headline-pro-2, sans-serif;
   font-weight: 400;
   font-style: italic;
   font-size: 20px;
   text-indent: 2em;
}

.image_captions{
  font-family: ff-real-text-pro, sans-serif;
  font-size: 13px;
  font-weight: medium;
  margin-bottom: 40px;
  color: #0033cc;
}

p{
   font-family: ff-real-text-pro, sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 18px;
   line-height: 27px;
}

p+p{
   text-indent: 2em;
}

i {
  font-style: italic;
}

@media only screen and (max-width: 550px) {
  h1 {
    font-size:  34px;
    line-height: 45px;
  }
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}

